src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67ec2488-2b4e-4895-b55a-fee6ca18d1dd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1Flow" doc:id="258e8592-7355-4e8a-8084-dc8246bb3cdc" >
		<http:listener doc:name="Listener" doc:id="f3c8f212-1c7f-441e-968c-874c34b300c6" config-ref="HTTP_Listener_config" path="test1"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="37491479-34be-4f43-a694-198cc1a7dac8" />
	</flow>
</mule>
